<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello friend!</title>
  </head>
  <body>
    <h1>To Do List</h1>
    <form action='/categories/@Model.Id/items' method="post">
      <input id='categoryId' name='categoryId' type='hidden' value='@Model.Id'>
      <label for="itemDescription">Add a new item</label>
      <input id="itemDescription" name="itemDescription" type="text">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
